doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ayush Nandanwar
        style 
            include ../static/style.css
            include ../static/mobile.css

    body 
        nav#navbar 
            img#logo(src="https://w7.pngwing.com/pngs/738/965/png-transparent-web-development-web-design-software-development-web-developer-web-design-blue-angle-web-design-thumbnail.png", alt="Logo") 
            ul#navItems 
                li #[a(href="#introSection") Home]
                li #[a(href="#aboutSection") About]
                li #[a(href="#mySkillsSection") My Skills]
                li #[a(href="#contactSection") Contact Me]
            a.btnClose#toggle(onclick="fun()") Show

        section#introSection 
            div#intro
                div Hi! My name is Ayush Nandanwar 
                div.subheading Computer Engineering Student💻 | Web Developer 🕸️ | Programmer 🧑‍💻
                div.socilaLinks 
                    a#fb(href="https://www.facebook.com/ayush.nandanwar.92" target="_blank")
                        p facebook 
                    a#li(href="https://www.linkedin.com/in/ayush-nandanwar-630214210/" target="_blank") 
                        p LinkedIn
                    a#git(href="https://github.com/ayushnandanwar08" target="_blank") 
                        p GitHub
                    a#mail(href="mailto:ayushnandanwar003@gmail.com" target="_blank") 
                        p Gmail
                    a#insta(href="https://www.instagram.com/___ayush08._/" target="_blank")
                        p Instagram
            div#img 
                img(src="https://ayushnandanwar08.github.io/My-Portfolio-Website/ayushnandanwar.jpeg", alt="Ayush Nandanwar")
            

        section#aboutSection 
            div.heading 🧑About
            span 
                | I'm Ayush Nandanwar, Currently pursuing BTech
                | in Computer Engineering from MIT Academy of Engineering.
            span
                | I'm Enthusastic Coder, Learning DSA and MERN Stack Development.
            span
                | Mastering the frontend and backend.
        section#mySkillsSection 
            div.heading 🌟My Skills
            div.skillsBox
                span.skill C++
                span.skill Java
                span.skill Python
                span.skill HTML
                span.skill CSS
                span.skill JavaSctipt
                span.skill Node.js
                span.skill Express.js
                span.skill Pug
                span.skill MongoDB
                
        section#contactSection
            div.heading 📩Contact me
            form#contactForm(action="/", method="post") 
                div.input 
                    label(for="name")  Name:
                    input(type="text" name="name" id="name", placeholder="Enter Name" required)
                div.input 
                    label(for="phone")  Mobile:
                    input(type="phone" name="phone" id="phone" placeholder="Enter Mobile Number" required)
                div.input 
                    label(for="email")  Email:
                    input(type="email" name="email" id="email" placeholder="Enter Email Address" required)
                div.input 
                    label(for="message")  Message:
                    textarea(name="message", cols="30", rows="10", id="message", placeholder="Describe Yourself" required) 
                div.input 
                    button.btn#submit(onclick="submit()") Submit 
                div.input 
                    p#thanksMessage.active Thanks for contacting, I will be back soon.....
                        a#wrong(onclick="close()") ❌
                
        footer#footer 
            | Copyright &copy; 2021-22 | Ayush Nandnawar | All rights reserved
        script(src="../static/index.js") 
